body{
    text-align: center;
}

#changeGridSize{
    text-align: center;
    margin: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.square{
    box-sizing: border-box;
    background-color: white;
    aspect-ratio: 1;
    border: black;
    border-width: 1px;
    border-style: solid;
    transition: background-color 1000ms;
}

.square:hover{
    background-color: teal;
    transition-duration: 0ms;
}